.main {
    min-height: calc(72vh - 100px);
    
    .content {
        padding: 50px 0;
        width: 80%;
        margin: 0 auto;

        .info {
            width: 400px;
        }

        .orders {
            margin-top: 50px;

            .items {
                display: flex;
                overflow-x: auto;
                scrollbar-color: #e69600 rgb(226, 226, 226);
                scrollbar-width: thin;
            }
        }
    }
}

@media (max-width: 600px) {
    .main {
        .content {
            .info {
                width: 80vw;
            }
        }
    }
}